**1. What are data structures, and why are they important**
ans-1 data structures are the ways of storing, organizing and access data and manipulated efficiency .They are important because it helps to creat a  clear and understandable data it helps to handle data more efficiently

.
**2.Explain the difference between mutable and immutable data types with examples.**
ans-2 Mutable are such data types which helps us to change in exicting list and are flexible like - lists , sets.
example:Potato" #list is mutable
shopping_list = ["Baingan", "Apple", 2, 3.4, True]
shopping_list[0] = "potato"

['Potato', 'Apple', 2, 3.4, True]
Immutable are those data types which are not flexible to change and doesn't allow any changee in existing format.
example:mp_name[2]  =  tuple is immutable
shopping_list = ("Baingan", "Apple", 2, 3.4, True)
shopping_list[0] = "potato"
*it will show an error*

3.**What are the main differences between lists and tuples in Python**
Lists and tuples both data types can store heterogrnous items in python the main difference between the both is list are mutable i.e flexible to change whereas tuples are immutable .

4.** Describe how dictionaries store data**
Dictionaries are key-value pairs that allow you to store and retrieve data based on a unique key. The keys
must be immutable, such as strings or numbers.
 Dictionaries are useful for storing data that needs to be accessed quickly and efficiently.
 example:my_dict = {'Course': 'PWIOI', 'Duration': 2, 'city': 'Banglore}

5.** Why might you use a set instead of a list in Python**
ans-5 sets are unoredered collection of unique elements so one cannot duplicate the ellements while list allows a duplicate element .Sets do not maintain any specific order of elements, while lists do.

6.**P What is a string in Python, and how is it different from a list**
ans-6 string is a data type in python uses sequence of character , represent and manipulate textual data whereas list can store any data including a string value .
example : string - "ajay"
list -[1,2,"ajay"]

7.**How do tuples ensure data integrity in Python**
ans-7 Once you create a tuple, you cannot change its content. This immutability makes tuples useful for situations where you want to ensure that the data remains constant.

8.** What is a hash table, and how does it relate to dictionaries in Python**
ans-8 A hash table is a data structure that allows for fast key-value lookups. python's dictionaries are implemented using hash tables under the hood. This means that when you use a dictionary in Python, it's leveraging the power of a hash table to store and retrieve values efficiently.
example:# Creating a dictionary
my_dict = {"name": "Alice", "age": 25}

*Retrieving a value by key (hashing is involved)
print(my_dict["name"])  # Output: Alice

9.**Can lists contain different data types in Python**
ans-9 yes lists can contain any type of data it can contain numerical ,text and even complex numbers as list are heterogenous.
example:shopping_list = ["Baingan", "Apple", 2, 3.4, True]
shopping_list[0] = "Potato"

10.** Explain why strings are immutable in Python**
ans-10 string is a data type in python uses sequence of character , represent and manipulate textual data . so a unique name or characterc cannot be modified in string
examole:a="ajay"
a[0]="ajay"="bijay"
will throw error

11** What advantages do dictionaries offer over lists for certain tasks**
ans-11 advantages of dictionaries over lists:-
*Fast Lookups
*Key-Value Pairing
*Data Structure Clarity
*Avoiding Duplicates

12 **Describe a scenario where using a tuple would be preferable over a listP**
ans-12 tuple is preferable over a list in scenarios where immutability (unchangeable data) is important.
example:-empid = (1, 2, 3, 4, 5)
empid[1] = 100
in such a case uit will throw error

13P **How do sets handle duplicate values in Python3**
ans-13 Python 3, sets automatically eliminate duplicate values
example:-s1 = {"hiking", "reading", "coding"}
s2 = {"coding", "photography", "travelling"}
{'coding', 'hiking', 'photography', 'reading', 'travelling'}

14 **How does the “in” keyword work differently for lists and dictionaries3**
ans-14 "in" keywords works differently in lists and dictionaries.
in lists 'in' checks the value in the element exists or not
example :[1,2,3]
print(1 in l)=# true
whereas in dictionaries 'in' checks if a key exists in the dictionary
example:-student = {"name": "Alice", "age": 25}

print("name" in student)   #true

15**Can you modify the elements of a tuple? Explain why or why not**
ans-15 No we cannot modify elements in tuple as tuple are unique elements that are not mutable .Once a tuple is created, its elements cannot be changed, added, or removed.

16P **What is a nested dictionary, and give an example of its use case3**
ans-16 A nested dictionary is a dictionary within another dictionary. It allows you to store complex, structured data in a hierarchical format.
example:
    'E0': {'name': 'Jane Smith', 'department': 'Marketing', 'salary': 65000},
    'E01: {'name': 'David Lee', 'department': 'Finance', 'salary': 80000}

17P **Describe the time complexity of accessing elements in a dictionaryP**
ans-17 Accessing elements in a Python dictionary is typically O(1) — constant time.Dictionaries in Python use a hash table under the hood.
my_dict = {"name": "Alice", "age": 30}
print(my_dict["age"])  # O(1) operation

18 **P In what situations are lists preferred over dictionaries3**
ans-18  lists are preferred over dictionaries in the situation where data is heterogenous,Need to Maintain Order,Position ,Indexing, Slicing.

19**9P Why are dictionaries considered unordered, and how does that affect data retrieval3**
ans-19 dictionaries are considered as unordered because the elements in dictionaries are implemented as hash tables which retrieves data not in a specific order and data can be accessed fast.

20**Explain the difference between a list and a dictionary in terms of data retrieval.**
ans-20 data in lists are ordered whereas in dictionaries are ordered .
in lists data is accessed throght index whereas in dictionaries data is accessed through keys.

##practical questions###

In [1]:
#ans-1
# code to enter your name
name="harshita"
print(name)

harshita

In [2]:
#ans-2
# length of hello world
a="hello world"
len(a)

11

In [4]:
#ans-3
# code to slice
a="Python Programming"
print(a[0:3])

Pyt

In [6]:
#ans-4
# code to convert str to upper case
a="hello"
a.upper()

'HELLO'

In [12]:
#ans-5
# code to replace an element in str
text= "I like apple"
text.replace("apple","orange")

'I like orange'

In [13]:
#ans-6
# code to create a list with munbers 1 to 5
list(range(1,6))

[1, 2, 3, 4, 5]

In [15]:
#ans-7
# code to append
list=[1,2,3,4]
print(list)

[1, 2, 3, 4]

In [18]:
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [21]:
#ans-8
# code to remove
list=[1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [22]:
#ans-9
# code to access the second element
list=['a', 'b', 'c', 'd']
list[2]

'c'

In [23]:
#ans-10
# reverse the list
list=[10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [26]:
#ans-11
# create a tuple
tuple=(100,200,300)
print(tuple)

(100, 200, 300)

In [28]:
#ans-12
#access the second to the last element
tuple=('red', 'green', 'blue', 'yellow')
tuple[2]

'blue'

In [33]:
#ans-13
# code to find the minimum number
tuple =(10,20,5,15)
min(tuple)

5

In [35]:
#ans-14
# code to find index of element
tuple =('dog','cat','rabbit')
tuple.index('cat')

1

In [37]:
#ans-15
# code to find kiwi in tuple
tuple=("apple","banana","kiwi")
if 'kiwi' in tuple:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is NOT in the tuple.")

Kiwi is in the tuple.

In [38]:
#ans-16
# creating a set
set={'a','b','c'}
print(set)

{'c', 'a', 'b'}

In [39]:
#ans-17
#clear elements
set={1,2,3,4,5}
set.clear()
print(set)

set()

In [40]:
#ans-18
#remove elements
set={1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

In [44]:
#ans-19
# combining the elements
s1={1,2,3}
s2={3,4,5}
s1|s2

{1, 2, 3, 4, 5}

In [45]:
#ans-20
# intersection of 2 elements
s1={1,2,3}
s2={2,3,4}
s1&s2

{2, 3}

In [47]:
#ans-21
# creting a dictionary
my_dict={'name':'ajay','age':25,'city':'delhi'}
print(my_dict)

{'name': 'ajay', 'age': 25, 'city': 'delhi'}

In [48]:
#ans-22
#adding a key in dictionary
d= {'name': 'John', 'age': 25}

In [50]:
d['country']='USA'
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [51]:
#ANS-23
# accessing an element in key
d={'name': 'Alice', 'age': 30}
print(d['name'])

Alice

In [53]:
#ans-24
# removing an element
d={'name': 'Bob', 'age': 22, 'city': 'New York'}
print(d)

{'name': 'Bob', 'age': 22, 'city': 'New York'}

In [54]:
del d['age']

In [55]:
print(d)

{'name': 'Bob', 'city': 'New York'}

In [56]:
#ans-25
# to find city in dictionary
d={'name': 'Alice', 'city': 'Paris'}
if 'city' in d:
    print("City is in the dictionary.")
else:
    print("City is NOT in the dictionary.")

City is in the dictionary.

In [59]:
#ans-26
# creating a list
list=[1,2,3,4]
print(list)

[1, 2, 3, 4]

In [60]:
#creating a tuple
t=(1,2,3,4)
print(t)

(1, 2, 3, 4)

In [61]:
# creating a dict
d={'name':'ajay','age':25,'city':'delhi'}
print(d)

{'name': 'ajay', 'age': 25, 'city': 'delhi'}

In [62]:
#ans-27
# list of 5 random numbers in ascending order
list=[2,12,3,54,35,67]
#sorting of list
list.sort()
print(list)

[2, 3, 12, 35, 54, 67]

In [63]:
#ans-28
# list having str and access of element at third index
list=['apple','banana','cherry']
print(list[2])

cherry

In [64]:
#ans-29
# combine two dictionaries
d1={'name':'ajay','age':25}
d2={'city':'delhi','country':'india'}
d1.update(d2)
print(d1)

{'name': 'ajay', 'age': 25, 'city': 'delhi', 'country': 'india'}

In [85]:
#ans-30- shows error
# List of strings
string_list = ['cat', 'dog', 'bird', 'cat', 'dog']

# Convert list to set
string_set = set(string_list)
# Print the set
print(string_set)

TypeError: 'set' object is not callable